Dockerfile
.gitignore
.git
.DS_Store
__tests__/
e2e/
*.md
.idea
node_modules/
.node_modules-root-owned-*
.next
out/
k8s
auth-passwords.json
coverage
playwright-report/
test-results/
*.tsbuildinfo
build/
worker-build/
ws-build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
.env.*
env.example
