Dockerfile
.gitignore
.git
tests/
*.md
.idea
node_modules/
.node_modules-root-owned-*
.next
out/
k8s
auth-passwords.json
coverage
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.env
.env.*
env.example
