[run]
source =
    agent_skills/src
    autonomous_agent/src
    content_distiller/src
    nat_helpers/src
    nat_nv_ingest/src
    rss_feed/src
    serpapi_search/src
    smart_milvus/src
    source_verifier/src
    user_interaction/src
    visual_media/src
    vtt_interpreter/src
    webscrape/src

omit =
    */register.py
    tests/*
    conftest.py

[report]
skip_empty = True
